In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import json

In [7]:
# specify the url
auto_full_details = []
auto_details = []


for page_num in range(1,3447):
    auto_url = 'https://www.autolist.com/search?location=location=Atlanta,%20GA&latitude=33.7489954&longitude=-84.3879824&radius=50&page=' + \
    str(page_num)+'&radius=5000&jumpstart=desktop'
    response = requests.get(auto_url)
    auto_full_details = auto_full_details + json.loads(response.text)['records']


for item in auto_full_details:
    auto_details.append({
      "vin": item["vin"] ,
      "display_color": item["display_color"],
      "year": item["year"],
      "make": item["make"],
      "model": item["model"],
      "price": item["price"],
      "mileage": item["mileage"],
      "city": item["city"],
      "condition": item["condition"],
      "dealer_name": item["dealer_name"],
      "state": item["state"],
      "trim": item["trim"],
      "body_type": item["body_type"],
      "body_style": item["body_style"],
      "monthly_payment": item["monthly_payment"],
      "provider_name": item["provider_name"]     
    })


auto_df = pd.DataFrame(auto_details)

In [8]:
auto_df

,vin,display_color,year,make,model,price,mileage,city,condition,dealer_name,state,trim,body_type,body_style,monthly_payment,provider_name
0,WP1AA2A59HLB04454,Jet Black Metallic,2017,Porsche,Macan,"$39,499","46,216 Miles",Miami,used,Florida Fine Cars Miami,FL,Base,suv,suv,-7116066,car_gurus
1,3FA6P0CD7LR130405,Agate Black Metallic,2020,Ford,Fusion,"$20,299","22,750 Miles",Margate,used,Florida Fine Cars - Margate,FL,SEL,sedan,sedan,-3657030,car_gurus
2,1FTEX1EP1JFB61095,Shadow Black,2018,Ford,F-150,"$34,999","32,170 Miles",Miami,used,Florida Fine Cars Miami,FL,XLT,pickup,truck,-6305354,car_gurus
3,3GKALPEV8KL250380,Red Quartz Tintcoat,2019,GMC,Terrain,"$23,997","48,354 Miles",Spokane,used,Avis Car Sales Spokane,WA,SLT,suv,suv,-4323255,avis
4,4S3GKAA68J3615946,Crystal Black Silica,2018,Subaru,Impreza,"$13,999","31,980 Miles",Miami,used,Florida Fine Cars Miami,FL,2.0i,sedan,sedan,-2522034,car_gurus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4975,1C4PJMDX6JD525388,White,2018,Jeep,Cherokee,"$24,998","40,892 Miles",Maplewood,used,CarMax Maplewood - Now offering Curbside Pickup,MN,Limited,suv,suv,-4503593,carmax
4976,1FMEE5DPXMLA87711,Carbonized Gray Metallic,2021,Ford,Bronco,"$49,575",New,Sullivan,new,Laura Ford of Sullivan,MO,Black Diamond Advanced,suv,suv,-8931339,car_gurus
4977,3VWG57AU1KM010978,BLUE,2019,Volkswagen,Golf,"$28,191","6,610 Miles",Vancouver,used,Vancouver Toyota,WA,1.4T SE,hatchback,hatchback,-5078838,car_gurus
4978,1C6JJTBG5ML579222,Red,2021,Jeep,Gladiator,"$50,925",New,Ankeny,new,Dewey Dodge Chrysler Jeep Ram,IA,Rubicon,pickup,truck,-9174553,car_gurus
4979,1FD8W3H61HEC96507,White,2017,Ford,F-350 Super Duty,"$38,500","99,900 Miles",Searcy,used,Creekwood Motor Company,AR,XLT,pickup,truck,-6936088,car_gurus