In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import json

In [2]:
# specify the url
auto_full_details = []
auto_details = []


for page_num in range(1,3447):
    auto_url = 'https://www.autolist.com/search?location=location=Atlanta,%20GA&latitude=33.7489954&longitude=-84.3879824&radius=50&page=' + \
    str(page_num)+'&radius=5000&jumpstart=desktop'
    response = requests.get(auto_url)
    auto_full_details = auto_full_details + json.loads(response.text)['records']


for item in auto_full_details:
    auto_details.append({
      "vin": item["vin"] ,
      "display_color": item["display_color"],
      "year": item["year"],
      "make": item["make"],
      "model": item["model"],
      "price": item["price"],
      "mileage": item["mileage"],
      "city": item["city"],
      "condition": item["condition"],
      "dealer_name": item["dealer_name"],
      "state": item["state"],
      "trim": item["trim"],
      "body_type": item["body_type"],
      "body_style": item["body_style"],
      "monthly_payment": item["monthly_payment"],
      "provider_name": item["provider_name"]     
    })


auto_df = pd.DataFrame(auto_details)

In [3]:
auto_df

,vin,display_color,year,make,model,price,mileage,city,condition,dealer_name,state,trim,body_type,body_style,monthly_payment,provider_name
0,WP1AA2A59HLB04454,Jet Black Metallic,2017,Porsche,Macan,"$39,499","46,216 Miles",Miami,used,Florida Fine Cars Miami,FL,Base,suv,suv,-7116066,car_gurus
1,1FTEX1EP1JFB61095,Shadow Black,2018,Ford,F-150,"$34,999","32,170 Miles",Miami,used,Florida Fine Cars Miami,FL,XLT,pickup,truck,-6305354,car_gurus
2,3GKALPEV8KL250380,Red Quartz Tintcoat,2019,GMC,Terrain,"$24,097","48,618 Miles",Spokane,used,Avis Car Sales Spokane,WA,SLT,suv,suv,-4341270,avis
3,2C3CDZFJ2KH684574,Sublime Pearlcoat,2019,Dodge,Challenger,"$46,299","9,981 Miles",Margate,used,Florida Fine Cars - Margate,FL,R/T Scat Pack,coupe,coupe,-8341141,car_gurus
4,5FNYF6H0XHB090862,White Diamond Pearl,2017,Honda,Pilot,"$28,299","69,243 Miles",Margate,used,Florida Fine Cars - Margate,FL,Elite,suv,suv,-5098295,car_gurus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4975,1C4AJWAG5JL854658,Gray,2018,Jeep,Wrangler,"$34,999","28,738 Miles",Missoula,used,Northwest Motorsport - Missoula,MT,Sport,suv,suv,-6305354,car_gurus
4976,1C6SRFJT2MN823734,Granite Crystal Metallic Clearcoat,2021,Ram,Pickup 1500,"$57,005",New,Huntsville,new,Wischnewsky Dodge Chrysler Jeep,TX,Laramie,pickup,truck,-10269914,car_gurus
4977,1G11Z5SA1KU137577,Mosaic Black Metallic,2019,Chevrolet,Impala,"$21,600","54,839 Miles",Philadelphia,used,Hertz Car Sales Philadelphia,PA,LT,sedan,sedan,-3891416,car_gurus
4978,1FM5K8GC1LGA11112,Magnetic,2020,Ford,Explorer,"$50,999","21,635 Miles",Stafford,used,Texas Direct Auto,TX,ST,suv,suv,-9187884,vroom
4979,1HGCV1F18JA042692,Champagne Frost Pearl,2018,Honda,Accord,"$22,299","31,361 Miles",Santa Ana,used,California Motors Direct1,CA,LX,sedan,sedan,-4017346,car_gurus

In [53]:
len(auto_df['vin'].unique())

4980

In [55]:
clean_auto_df = auto_df.dropna().drop(columns='body_type').drop(columns='monthly_payment').drop(
    columns='index').drop(columns='provider_name').set_index('vin')

In [56]:
clean_auto_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4857 entries, WP1AA2A59HLB04454 to 1HGCV1F18JA042692
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   display_color  4857 non-null   object
 1   year           4857 non-null   int64
 2   make           4857 non-null   object
 3   model          4857 non-null   object
 4   price          4857 non-null   object
 5   mileage        4857 non-null   object
 6   city           4857 non-null   object
 7   condition      4857 non-null   object
 8   dealer_name    4857 non-null   object
 9   state          4857 non-null   object
 10  trim           4857 non-null   object
 11  body_style     4857 non-null   object
dtypes: int64(1), object(11)
memory usage: 493.3+ KB

In [57]:
clean_auto_df

,display_color,year,make,model,price,mileage,city,condition,dealer_name,state,trim,body_style
vin,,,,,,,,,,,,
WP1AA2A59HLB04454,Jet Black Metallic,2017,Porsche,Macan,"$39,499","46,216 Miles",Miami,used,Florida Fine Cars Miami,FL,Base,suv
1FTEX1EP1JFB61095,Shadow Black,2018,Ford,F-150,"$34,999","32,170 Miles",Miami,used,Florida Fine Cars Miami,FL,XLT,truck
3GKALPEV8KL250380,Red Quartz Tintcoat,2019,GMC,Terrain,"$24,097","48,618 Miles",Spokane,used,Avis Car Sales Spokane,WA,SLT,suv
2C3CDZFJ2KH684574,Sublime Pearlcoat,2019,Dodge,Challenger,"$46,299","9,981 Miles",Margate,used,Florida Fine Cars - Margate,FL,R/T Scat Pack,coupe
5FNYF6H0XHB090862,White Diamond Pearl,2017,Honda,Pilot,"$28,299","69,243 Miles",Margate,used,Florida Fine Cars - Margate,FL,Elite,suv
...,...,...,...,...,...,...,...,...,...,...,...,...
1C4AJWAG5JL854658,Gray,2018,Jeep,Wrangler,"$34,999","28,738 Miles",Missoula,used,Northwest Motorsport - Missoula,MT,Sport,suv
1C6SRFJT2MN823734,Granite Crystal Metallic Clearcoat,2021,Ram,Pickup 1500,"$57,005",New,Huntsville,new,Wischnewsky Dodge Chrysler Jeep,TX,Laramie,truck
1G11Z5SA1KU137577,Mosaic Black Metallic,2019,Chevrolet,Impala,"$21,600","54,839 Miles",Philadelphia,used,Hertz Car Sales Philadelphia,PA,LT,sedan
1FM5K8GC1LGA11112,Magnetic,2020,Ford,Explorer,"$50,999","21,635 Miles",Stafford,used,Texas Direct Auto,TX,ST,suv
1HGCV1F18JA042692,Champagne Frost Pearl,2018,Honda,Accord,"$22,299","31,361 Miles",Santa Ana,used,California Motors Direct1,CA,LX,sedan

In [58]:
clean_auto_df.to_csv('AutoListData')