In [2]:
import pandas as pd
import os

In [3]:
fuel_econ_df = pd.read_csv('OGResources/fuel_economy.csv')

C:\Users\Sharon\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
fuel_econ_df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [5]:
clean_fuel_econ_df = fuel_econ_df[["year",
                                   "make",
                                   "model",
                                   "city08",
                                   "highway08",
                                   "comb08",
                                   "fuelType1",
                                   "fuelCost08",
                                   "VClass",
                                   "cylinders",
                                   "trany",
                                   "drive"]]

In [6]:
clean_fuel_econ_df.head()

,year,make,model,city08,highway08,comb08,fuelType1,fuelCost08,VClass,cylinders,trany,drive
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,Regular Gasoline,2250,Two Seaters,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,Regular Gasoline,4300,Two Seaters,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,Regular Gasoline,1750,Subcompact Cars,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon 2WD,10,12,11,Regular Gasoline,4300,Vans,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,Premium Gasoline,3050,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive

In [7]:
print(len(clean_fuel_econ_df))

44040

In [8]:
clean_fuel_econ_rename = clean_fuel_econ_df.rename(columns={"city08":"city_mpg",
                                                            "highway08":"highway_mpg",
                                                            "comb08":"combined_mpg",
                                                            "fuelType1":"fuel_type",
                                                            "fuelCost08":"annual_fuel_cost",
                                                            "VClass":"vehicle_size_class",
                                                            "cylinders":"engine_cylinders",
                                                            "trany":"transmission",
                                                            "drive":"drive_axle_type"})

In [9]:
clean_fuel_econ_rename.head()

,year,make,model,city_mpg,highway_mpg,combined_mpg,fuel_type,annual_fuel_cost,vehicle_size_class,engine_cylinders,transmission,drive_axle_type
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,Regular Gasoline,2250,Two Seaters,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,Regular Gasoline,4300,Two Seaters,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,Regular Gasoline,1750,Subcompact Cars,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon 2WD,10,12,11,Regular Gasoline,4300,Vans,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,Premium Gasoline,3050,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive

In [11]:
clean_fuel_econ_rename['model']=clean_fuel_econ_rename['model'].str.replace('4WD','').str.replace('2WD','')
clean_fuel_econ_rename

,year,make,model,city_mpg,highway_mpg,combined_mpg,fuel_type,annual_fuel_cost,vehicle_size_class,engine_cylinders,transmission,drive_axle_type
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,Regular Gasoline,2250,Two Seaters,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,Regular Gasoline,4300,Two Seaters,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,Regular Gasoline,1750,Subcompact Cars,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon,10,12,11,Regular Gasoline,4300,Vans,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,Premium Gasoline,3050,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive
...,...,...,...,...,...,...,...,...,...,...,...,...
44035,1993,Subaru,Legacy,19,26,22,Regular Gasoline,2150,Compact Cars,4.0,Automatic 4-spd,Front-Wheel Drive
44036,1993,Subaru,Legacy,20,28,23,Regular Gasoline,2050,Compact Cars,4.0,Manual 5-spd,Front-Wheel Drive
44037,1993,Subaru,Legacy AWD,18,24,21,Regular Gasoline,2250,Compact Cars,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive
44038,1993,Subaru,Legacy AWD,18,24,21,Regular Gasoline,2250,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive
44039,1993,Subaru,Legacy AWD Turbo,16,21,18,Premium Gasoline,3200,Compact Cars,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive

In [12]:
clean_fuel_econ_rename.to_csv('CleanResources/clean_fuel_economy.csv', 
                  encoding='utf-8', index=False, header=True)