In [1]:
#dependencies
import pandas as pd

In [6]:
# Save file path to variable
car_kaggle_csv = "USA_cars_datasets.csv"

In [7]:
# Read with Pandas
kaggle_df = pd.read_csv(car_kaggle_csv)
kaggle_df.head()

/Users/ashleygates/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,2,5,6,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,price,brand,model,year,mileage,color,vin,lot,state,country
0,6300.0,toyota,cruiser,2008.0,274117.0,black,jtezu11f88k007763,159348797.0,new jersey,usa
1,2899.0,ford,se,2011.0,190552.0,silver,2fmdk3gc4bbb02217,166951262.0,tennessee,usa
2,5350.0,dodge,mpv,2018.0,39590.0,silver,3c4pdcgg5jt346413,167655728.0,georgia,usa
3,25000.0,ford,door,2014.0,64146.0,blue,1ftfw1et4efc23745,167753855.0,virginia,usa
4,27700.0,chevrolet,1500,2018.0,6654.0,red,3gcpcrec2jg473991,167763266.0,florida,usa